<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="content">
    <div class="app-content">
        <div class="container-fluid">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6"><h3 class="mb-0">Patient Visit</h3></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#">Patient Visit</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Bookings</li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card mb-8">
                            <div class="card-header">
                                <h3 class="card-title">Bookings</h3>
                            </div>
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Row-->
                                <div class="row">
                                    <table class="table table-bordered mt-3">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Patient</th>
                                            <th>Doctor</th>
                                            <th>Date</th>
                                            <th>Reason</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="pvst, stat  : ${pVisits}">
                                            <td th:text="${stat.index + 1}"></td>
                                            <td th:text="${pvst.patient.getFirstName() + ' ' + pvst.patient.getLastName()}"></td>
                                            <td th:text="${pvst.doctor.getFirstName() + ' ' + pvst.doctor.getLastName()}"></td>
                                            <td th:text="${pvst.patientVisitDate.toString().replace('T',' ')}"></td>
                                            <td th:text="${pvst.visitReason}"></td>
                                            <td>
                                                <a th:href="@{/patientcondition/form(id=${pvst.visitID})}" class="btn btn-sm btn-primary">Diagnose</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Body-->
                            <!--begin::Footer-->
                            <div class="card-footer">
                                <a th:href="@{/patientcondition/form}" class="btn btn-primary mb-2 float-end" >New Diagnose</a>
                            </div>
                            <!--end::Footer-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
