<aside th:fragment="sidebar" class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="/" class="brand-link">
            <img th:src="@{/images/AdminLTELogo.png}" alt="Logo" class="brand-image opacity-75 shadow"/>
            <span class="brand-text fw-light">AdminLTE 4</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" data-accordion="false">
                <!-- Admin Menu -->
                <li class="nav-item"
                    th:classappend="${currentUri.startsWith('/users') or currentUri.startsWith('/roles') or currentUri.startsWith('/settings')} ? 'menu-open'">
                    <a href="#" class="nav-link"><i class="nav-icon bi bi-gear"></i><p>Admin<i class="nav-arrow bi bi-chevron-right"></i></p></a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/}"
                               th:class="'nav-link'">
                                <i class="nav-icon bi bi-person"></i><p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/users}"
                               th:class="'nav-link' + (${currentUri.startsWith('/users')} ? ' active' : '')">
                                <i class="nav-icon bi bi-person"></i><p>Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/roles}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/roles')} ? ' active' : ''">
                                <i class="nav-icon bi bi-person-vcard"></i><p>Roles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/settings/doctors}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/settings/doctors')} ? ' active' : ''">
                                <i class="nav-icon bi bi-person-vcard"></i><p>Doctors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/settings/patients}" class="nav-link"
                               th:classappend="${currentUri.startsWith('/settings/patients') } ? ' active'">
                                <i class="nav-icon bi bi-person"></i><p>Patients</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Doctor Menu -->
                <li class="nav-item"
                    th:classappend="${currentUri.startsWith('/doctors')} ? 'menu-open'">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-person-video2"></i><p>Doctor<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/doctors/schedule/list}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/doctors/schedules') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Schedules</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"
                               th:classappend="${currentUri.startsWith('/doctors/reports') } ? ' active'">
                                <i class="nav-icon bi bi-file-medical"></i><p>Reports</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Nurse Menu -->
                <li class="nav-item"
                    th:classappend="${currentUri.startsWith('/appointment') or currentUri.startsWith('/patientvisits') or currentUri.startsWith('/patientcondition')} ? 'menu-open'">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-person-video2"></i><p>Appointment<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/appointments}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/appointment') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Appointment</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/patientvisits}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/patientvisits') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Patient Visit</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/patientcondition/consult}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/patientcondition/consult') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Patient Consultation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/patientcondition/diagnosedlist}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/patientcondition/diagnosedlist') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Diagnosed List</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Patient Menu -->
                <li class="nav-item"
                    th:classappend="${currentUri.startsWith('/reports')} ? 'menu-open'">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-person"></i><p>Report<i class="nav-arrow bi bi-chevron-right"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/reports/doctor/details}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/reports/doctor') } ? ' active'">
                                <i class="nav-icon bi bi-card-list"></i><p>Available Doctors</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/reports/averagewaitingtimesp}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/reports/averagewaitingtimesp') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Waiting Time</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/reports/averagewaitingtimedr}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/reports/averagewaitingtimedr') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Doctor's Waiting Time</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/reports/topreports}"
                               class="nav-link"
                               th:classappend="${currentUri.startsWith('/reports/topreports') } ? ' active'">
                                <i class="nav-icon bi bi-calendar-check"></i><p>Top reports</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
