<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="content">
    <div class="app-content">
        <div class="container-fluid">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6"><h3 class="mb-0">Doctors</h3></div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#">Doctors</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Doctors Schedules</li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card mb-8">
                            <div class="card-header">
                                <h3 class="card-title">Doctors Schedules List</h3>
                            </div>
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Row-->
                                <div class="row">
                                    <table class="table table-bordered mt-3">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Specialty</th>
                                            <th>Phone No.</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="drSch,stat : ${schedules}">
                                            <td th:text="${stat.index + 1}"></td>
                                            <td th:text="${drSch.getDoctor().firstName + ' ' + drSch.getDoctor().lastName}"></td>
                                            <td th:text="${drSch.getDoctor().specialty}"></td>
                                            <td th:text="${drSch.getDoctor().phoneNumber}"></td>
                                            <td>
                                                <a th:href="@{'/doctors/schedule/edit/' + ${drSch.doctorScheduleID}}" class="btn btn-warning btn-sm">Edit</a>
                                                <a th:href="@{'/doctors/schedule/delete/' + ${drSch.doctorScheduleID}}" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Body-->
                            <!--begin::Footer-->
                            <div class="card-footer">
                                <a th:href="@{/doctors/schedule/new}" class="btn btn-primary mb-2 float-end" >New Schedule</a>
                            </div>
                            <!--end::Footer-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
